body {
  margin: 0 auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
  background: rgb(242,245,246); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.navbar {
  width: 1080px;
  height: 150px;

  float: left;
  clear: right;
  font-family: 'Lobster', cursive;
  background: #888888;
  margin: auto;
}

.navbar img {
  position: absolute;
  border-radius: 5px;
}

.navbar h1 {
  padding: 10px;
  font-size: 70px;
  text-align: center;
}

#container {

  width: 1080px;
  height: 400px;
  clear: left;

}

#big {
  width: 1080px;
  height: 300px;

  clear: left;
}

.flow-left {

  width: 340px;
  height: 380px;
  float: left;
  display: inline-block;
  padding: 5px
}

.flow-left img {
  margin: 30px 15px;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 5px solid gray;

}

footer {

  width: 1080px;
}
